*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; /*리스트 점 삭제*/
    text-decoration: none; /*하이퍼텍스트 밑줄 색 삭제*/
    border-collapse: collapse; /*테이블 줄 통합*/
    margin: 0px;
    padding: 0px;
    color:#000; /*글자색 기본 검정*/
    
}
html{
    scroll-behavior: smooth; /* 부드럽게 이동*/
}

h1 {
    font-size: 48px;
    font-weight: 100;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.contents2{
    font-size: 18px;
}
.contents3{
    font-size: 14px;
    font-weight: 100;
}

/* 배경 */
.intro_bg{
    background-image: url("/images/image2.jpg");
    /* background-repeat: no-repeat; 배경 이미지 반복x */
    width:100%;
    height:661px;
}
.header{
    display: flex;
    width:100%;
    margin:auto;
    height: 86px;
    background:rgba(0, 0, 0, 0.8);
}
.main_title{
    width:300px;
    height:40px;
    border-radius: 5px;
    margin-top: 24px;
    margin-left: 24px;

}
.main_title > a{
    font-size: 24px;
    color: #fff;
}
/*배경 및 제목 끝*/
/*상단 메뉴*/
.nav{
    display: flex;
    justify-content: flex-end; /*오른쪽에 붙여줌*/
    line-height: 86px;
    width:calc(1480px - 300px);
}
.nav > li{
    margin-left: 84px;
}
.nav > li > a{
    text-decoration: none;
    color: #fff;
}
/*상단 메뉴 끝*/
.intro_text{
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 231px auto 231px auto; /*상 우 하 좌*/
    text-align: center; /*가운데 정렬*/
    background:rgba(0, 0, 0, 0.8);
}

.intro_text > h1, h4{
    color:#fff;
}

/*amount 부분 */
.amount{
    position: relative;
    top: -66px;
    display: flex;
    width:1280px;
    background: white;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.amount > li > div{
    text-align: center;
    margin-top: 37px;
    height: 57px;
}
.amount > li:not(:last-child) > div{
    border-right: 1px solid gray;
}
.amount > li{
    flex: 1;
    height: 132px;

}
/*amount 끝*/


/*main_text0*/
.main_text0{
    width: 100%;
    height: 650px;
    margin-top: -132px;
    background: #f1f2f3;
}
.main_text0 > h1{
    padding-top:116px;
    text-align: center;
}
.main_text0 > .contents1 {
    text-align: center;
}

.icons{
    display: flex;
    width:1280px;
    height: 302px;
    margin: auto;

}
.icons > li {
    flex: 1;
    margin: 0px;
    background: white;
    margin-top:40px;
    height:302px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}
.icons > li:not(:last-child){
    margin-right:20px;
}
.icons > li > .icons_img{
    margin-top:36px;
}
.icons > li > .contents3{
    width: 280px;
    margin: auto;
    letter-spacing: -1px;
}
.icons_img > img{
    width: 144px;
    height: 144px;
}

.icons_img2{
    margin-top:58px;
    margin-bottom: 22px;
}
.icons_img2 > img{
    width: 100px;
    height: 100px;
}


/* main_text1 */
.main_text1{
    width:100%;
    height:659px;

}
.main_text1 > h1{
    padding-top: 50px;
    text-align:center;
}

.main_text1 > .contents1 {
    text-align: center;
}
.car_photo{
    display: flex;
    width: 640px;

}
.car_photo > .car1:not(:last-child){
    margin-right:5px;
}

.service{
    width:1280px;
    display: flex;
    margin:49px auto;
    height:427px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.service > .contents2{
    margin-top: -20px;
    padding: 20px;
}
.service > .contents2 > h2{
    margin-bottom: 27px;
}

/*main_text2*/
.main_text2{
 
    background-image: url(./images/flash-4244923_1920.png);
    width:100%;
    height:418px;
    background-position: center; /*가운데로 정렬*/

}

.main_text2 >ul{
    display: flex;
    padding-top: 138px;
}
.main_text2 > ul > li{
    flex: 1;
}

/*footer*/
footer{
    display: flex;
    margin-top: -130px;
    background:rgba(0, 0, 0, 0.9);
    padding:10px;
}

footer > div:first-child{
    text-align: center;
    flex:3;
    color:#fff;
}
footer > div:last-child{
    margin-top:15px;
    flex:9;
    color:#fff;
}