*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; /*리스트 점 삭제*/
    text-decoration: none; /*하이퍼텍스트 밑줄 색 삭제*/
    border-collapse: collapse; /*테이블 줄 통합*/
    margin: 0px;
    padding: 0px;
    color:#000; /*글자색 기본 검정*/
    
}
body {
    background-image: url(/images/banner.jpg);

}
.header{
    display: flex;
    width:100%;
    margin:auto;
    height: 86px;
    background:rgba(0, 0, 0, 0.8);
}
.main_title{
    width:300px;
    height:40px;
    border-radius: 5px;
    margin-top: 24px;
    margin-left: 24px;

}
.main_title > a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}.panel > h2{ color:white; font-size:45px; margin:0 0 8px 0;} /*color 글자색*/
.panel > p { color:white; font-size:16px; margin-bottom:30px; line-height:24px;}
.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 70px;
    line-height: 50px;
    margin-bottom: 5px;
    width: 100%;
  }
.login-form{ text-align:center;}
.btn.btn-primary {
    background: white;
    border-color: black;
    border-width: 2px;
    color: #ffffff;
    font-size: 14px;
    width: 90px;
    margin-top: 50px;
    margin-bottom:10px;
    height: 90px;
    line-height: 50px;
    border-radius: 30px;
  }
.btn.btn-primary > img{
    width:50%;
    height:50%;
}
.main-div {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    margin: 10px auto 30px auto; /*상 우 하 좌*/
    width: 440px;
    max-width: 38%;
    padding: 70px 70px 70px 70px;
    position: relative;
    top: 100px;
    left: 400px;
  }
.signup{
    margin-top: 10px;
}
.signup > a{
    color:#ffffff;
}
.form-group > h6{
    color:white;
    font-size: 12px;
    text-align: left;
}
.form-group > h6:last-child{
    margin-bottom: 20px;
}
.form-group > .form-control{
    margin-bottom: 10px;
}
